.search-page-container {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.search-bar-filter {
  background-color: red;
  height: 87px;
}
.search-results.result-summary {
  background-color: yellow;
  height: 80px;
}

.search-results {
  background-color: green;
  height: 800px;
}

.total-listings {
  font-size: 24px;
  font-weight: 400;
  height: auto;
}

.total-listings-paginatation {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
